<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   
    <title>price</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div>
<header>
 HEY THERE!!!, WANT TO SELL YOUR OLD CAR AND CONFUSED ABOUT PRICE?<br>
  NO WORRIES I'LL HELP YOU, JUST ENTER YOUR CAR DETAILS...!
 </header><br>
 
   <form action="/getprice" method="post">
     Current Price in lacks <br><input type="number" id="first" name="curprice" required="required" placeholder="       Enter current price"><br><br>
     Kilometers Driven <br><input type="number" id="second" name="kms" required="required" placeholder="    Enter kilometers driven"><br><br>
     How many owners previously had the car(0,1,2)<br><input type="number" id="third" name="owners" required="required" placeholder="     Enter number of owners"><br><br>
     Year of Purchasing<br><input type="number" id="fourth" name="year" required="required" placeholder="  Enter year of purchasing "><br><br>
Fuel Type &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Seller Type &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Trasnmission <br>
       <select required="required" id="fifth" name="fuel">
         <option value="diesel">Diesel</option>
         <option value="petrol">Petrol</option>
         <option value="CNG">CNG</option>
        </select>
   &nbsp &nbsp &nbsp
    <select required="required" id="sixth" name="seller">
      <option value="dealer">Dealer</option>
      <option value="individual">Individual</option>
    </select>
    &nbsp &nbsp &nbsp
    <select required="required" id="seventh" name="trans">
      <option value="manual">Manual</option>
      <option value="auto">Automatic</option>
    </select>
    <br><br><br>
    <input id="sub" type="submit" value="GET PRICE" > &nbsp &nbsp &nbsp &nbsp &nbsp <input id="clr" type="reset" value="CLEAR"></br>
    <h3> {{text}} </h3>
    
    
</form>
</div>
</body>
</html> 
